<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">ECF Biblio P8</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                            <a class="nav-link active" href="{{path('app_login')}}">Login</a>
                        </li>
                        {% if is_granted('ROLE_BORROWER')%}
                        <li class="nav-item">
                            <a class="nav-link active" href="{{path('loan_index')}}">Loan</a>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN')%}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{path('author_index')}}">Author</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{path('book_index')}}">Book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{path('borrower_index')}}">Borrower</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{path('genre_index')}}">Genre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{path('loan_index')}}">Loan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{path('user_index')}}">User</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>